<section class="card">
  <div class="container card__container flex">
    <h2 class="section-title card__title">Digital Library Cards</h2>
    <div class="card__content flex">
      <div class="card__left flex">
        <h3 class="card__left-subtitle">Find your Library card</h3>
        <div class="card__left-bottom">
          <form action="#" class="form card__form flex">
            <div class="card__form-top flex">
              <span class="card__name">Brooklyn Public Library</span>
              <label class="card__label">
                <input type="text" class="input-reset card__form-input" placeholder="Reader's name ">
              </label>
              <label class="card__label">
                <input type="text" class="input-reset card__form-input" placeholder="Card number">
              </label>
            </div>
            <div class="card__form-bottom flex">
              <button class="btn-reset card__form-btn" type="submit">Check the card</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card__right flex">
        <h3 class="card__right-subtitle">Get a reader card</h3>
        <p class="card__right-descr">You will be able to see a reader card after logging into account or you can register a new account</p>
        <div class="card__right-bottom flex">
          <button class="btn-reset card__right-btn">Sign Up</button>
          <button class="btn-reset card__right-btn">Log in</button>
        </div>
      </div>
    </div>
  </div>
</section>
