<section class="contacts">
  <div class="container contacts__container">
    <h2 class="section-title contacts__title">Our Contacts</h2>
    <div class="contacts__info">
      <div class="contacts__info-text">
        <h3 class="contacts__subtitle">For all Library inquiries:</h3>
        <span class="contacts__tel">Please Call <a href="tel:+76177302370" class="link-reset contacts__tel-link">(617) 730-2370</a></span>
        <span class="contacts__tel">For TTY service, please call  <a href="tel:+76177302370" class="link-reset contacts__tel-link">(617) 730-2370</a></span>
        <span class="contacts__tel">Putterham Library: <a href="tel:+76177302385" class="link-reset contacts__tel-link">(617) 730-2385</a></span>
        <span class="contacts__staff">Senior Staff</span>
        <span class="contacts__staff-position">Library Director: <span class="contacts__staff-name">Amanda Hirst</span></span>
      </div>
      <div class="contacts__map" id="map">

      </div>
    </div>
  </div>
</section>
