<section class="favorites">
  <div class="container favorites__container flex">
    <h2 class="section-title favorites__title">Favorites</h2>
    <span class="favorites__descr">Pick favorites of season</span>
    <div class="favorites__choice flex">
      <label class="favorites__label" for="winter">
        <input class="favorites__radio" type="radio" id="winter" name="choice" value="winter" checked>
        <span class="favorites__text">Winter</span>
      </label>
      <label class="favorites__label" for="spring">
        <input class="favorites__radio" type="radio" id="spring" name="choice" value="spring">
        <span class="favorites__text">Spring</span>
      </label>
      <label class="favorites__label" for="summer">
        <input class="favorites__radio" type="radio" id="summer" name="choice" value="summer">
        <span class="favorites__text">Summer</span>
      </label>
      <label class="favorites__label" for="autumn">
        <input class="favorites__radio" type="radio" id="autumn" name="choice" value="autumn">
        <span class="favorites__text">Autumn</span>
      </label>
    </div>
    <ul class="list-reset flex favorites__list">
      <li class="favorites__list-item">
        <article class="favorites-card">
          <span class="favorites-card__picks">Staff Picks</span>
          <h3 class="favorites-card__title">The Book Eaters <br> By Sunyi Dean</h3>
          <p class="favorites-card__descr">An unusual sci-fi story about a book eater woman who tries desperately to save her dangerous mind-eater son from tradition and certain death. Complete with dysfunctional family values, light Sapphic romance, and a strong, complex protagonist. Not for the faint of heart.</p>
          <button class="btn-reset favorites-card__btn">Buy</button>
          <img class="favorites-card__image" src="img/book-1.jpg" alt="The Book Eaters By Sunyi Dean">
        </article>
      </li>
      <li class="favorites__list-item">
        <article class="favorites-card">
          <span class="favorites-card__picks">Staff Picks</span>
          <h3 class="favorites-card__title">Cackle <br> By Rachel Harrison</h3>
          <p class="favorites-card__descr">Are your Halloween movies of choice The Witches of Eastwick and Practical Magic? Look no further than here - where a woman recovering from a breakup moves to a quaint town in upstate New York and befriends a beautiful witch.</p>
          <button class="btn-reset favorites-card__btn">Buy</button>
          <img class="favorites-card__image" src="img/book-2.jpg" alt="Cackle By Rachel Harrison">
        </article>
      </li>
      <li class="favorites__list-item">
        <article class="favorites-card">
          <span class="favorites-card__picks">Staff Picks</span>
          <h3 class="favorites-card__title">Dante: Poet of the Secular World <br> By Erich Auerbach</h3>
          <p class="favorites-card__descr">Auerbach's engaging book places the 'Comedy' within the tradition of epic, tragedy, and philosophy in general, arguing for Dante's uniqueness as one who raised the individual and his drama of soul into something of divine significance—an inspired introduction to Dante's main themes.</p>
          <button class="btn-reset favorites-card__btn">Buy</button>
          <img class="favorites-card__image" src="img/book-3.jpg" alt="Dante: Poet of the Secular World By Erich Auerbach">
        </article>
      </li>
      <li class="favorites__list-item">
        <article class="favorites-card">
          <span class="favorites-card__picks">Staff Picks</span>
          <h3 class="favorites-card__title">The Last Queen <br> By Clive Irving</h3>
          <p class="favorites-card__descr">A timely and revelatory new biography of Queen Elizabeth (and her family) exploring how the Windsors have evolved and thrived as the modern world has changed around them.</p>
          <button class="btn-reset favorites-card__btn favorites-card__btn--disabled" disabled>Own</button>
          <img class="favorites-card__image" src="img/book-4.jpg" alt="The Last Queen By Clive Irving">
        </article>
      </li>
    </ul>
  </div>
</section>
