<header class="header">
  <div class="container header__container flex">
    <h1 class="header__title">Brooklyn Public Library</h1>
    <nav class="nav">
      <ul class="list-reset nav__list flex">
        <li class="nav__list-item"><a class="link-reset nav__list-link" href="#about">About</a></li>
        <li class="nav__list-item"><a class="link-reset nav__list-link" href="#favorites">Favorites</a></li>
        <li class="nav__list-item"><a class="link-reset nav__list-link" href="#shop">Coffee shop</a></li>
        <li class="nav__list-item"><a class="link-reset nav__list-link" href="#contacts">Contacts</a></li>
        <li class="nav__list-item"><a class="link-reset nav__list-link" href="#card">Library Card</a></li>
      </ul>
    </nav>
    <button class="btn-reset account-btn">
      <svg>
        <use xlink:href="img/sprite.svg#account"></use>
      </svg>
    </button>
  </div>
</header>
