.hero {
  margin-top: -1px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    padding: 0;
  }

  &__text {
    padding: 220px 0 153px 0;
  }

  &__title {
    max-width: 600px;
    padding: var(--main-offset) 35px var(--main-offset) 75px;
    font: var(--forum-regular-big);
    color: var(--color-white);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--color-black);
  }
}
