.catalog {
  display: flex;
  flex-wrap: wrap;

  &__left {
    margin-right: auto;
    max-width: 440px;
    width: 100%;
  }

  &__title {
    margin-bottom: var(--main-offset);
    font: var(--forum-regular-main);
    color: var(--color-tussock);
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__list {
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: var(--main-offset);
      }

      &-name {
        max-width: 233px;
        width: 100%;
        margin-right: auto;
        font: var(--inter-regular-second);
        color: #000;
        letter-spacing: 2px;
        text-transform: capitalize;

        &-right {
          text-align: right;
        }
      }

      &-border {
        height: 1px;
        max-width: 100px;
        width: 100%;
        background-color: var(--color-tussock);
      }

      &-price {
        margin-left: auto;
        font: var(--forum-regular-small);
        color: #000;
        letter-spacing: 2px;
        text-transform: capitalize;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 482px;
    width: 100%;

    &-title {
      margin-left: auto;
    }
  }
}
