.card {
  margin-top: -2px;
  padding-bottom: 34px;
  background-color: var(--color-white);

  &__container {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: max-content;
    margin-bottom: var(--main-offset);
  }

  &__content {
    width: 100%;
  }

  &__left {
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    max-width: 600px;
    width: 100%;

    &-subtitle {
      max-width: max-content;
      margin-bottom: var(--second-offset);
      font: var(--inter-regular-small-normal);
      color: #000;
      letter-spacing: 0.6px;
    }

    &-bottom {
      max-width: 600px;
      width: 100%;
      padding: var(--small-offset);
      border: 3px solid var(--color-tussock);
      background-color: var(--color-white);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__form {
    flex-direction: column;
    width: 100%;
    grid-column-gap: 0;
    grid-row-gap: 0;

    &-top {
      flex-direction: column;
      width: 100%;
      background-color: var(--color-tussock);
    }

    &-bottom {
      width: 100%;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: var(--color-white);
    }

    &-input {
      width: 100%;
      height: 66px;
      padding-left: 17px;
      font: var(--forum-regular-second);
      color: var(--color-tussock);
      border: none;
      border-radius: 10px;

      &::placeholder {
        color: var(--color-gray-light);
      }
    }

    &-btn {
      padding: 10px 43px;
      font: var(--inter-bold-second-normal);
      font-size: 21px;
      border-radius: 2px;
      border: 1px solid var(--color-black);
    }
  }

  &__name {
    margin-right: auto;
    padding-top: 18px;
    margin-bottom: 10px;
    padding-left: 18px;
    width: 100%;
    font: var(--forum-regular-second);
    font-size: 31px;
    color: #000;
  }

  &__label {
    width: 100%;
    padding: 7px 20px 23px 20px;
  }

  &__right {
    flex-direction: column;

    &-subtitle {
      margin-left: auto;
      margin-bottom: 35px;
      font: var(--forum-regular-second-normal);
      font-size: 31px;
    }

    &-descr {
      max-width: 456px;
      margin-bottom: 35px;
      font: var(--inter-regular-second);
      letter-spacing: 0.4px;
      text-align: right;
    }

    &-bottom {
      margin-left: auto;
    }

    &-btn {
      min-width: 70px;
      padding: 8px 0px;
      font: var(--inter-bold-small-normal);
      text-align: center;
      border-radius: 2px;
      border: 1px solid var(--color-black);


      &:last-child {
        margin-left: 26px;
      }
    }
  }
}
