.favorites {
  margin-top: -2px;
  background-color: var(--color-white);
  padding-bottom: var(--small-offset);

  &__container {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: var(--main-offset);
  }

  &__descr {
    margin-right: auto;
    margin-bottom: var(--main-offset);
    font: var(--inter-bold-second-normal);
    color: #000;
  }

  &__choice {
    margin-right: auto;
    margin-bottom: var(--main-offset);
  }

  &__radio {
    margin-right: var(--small-offset);

    &:checked {
       ~ .favorites__text {
        font: var(--inter-bold-second-normal);
      }
    }
  }

  &__label {
    margin-right: 90px;
    user-select: none;
    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    font: var(--inter-regular-second-normal);
  }

  &__list {
    width: 100%;
    flex-wrap: wrap;

    &-item {
      max-width: 550px;
      width: 100%;
      margin-bottom: var(--main-offset);

      &:nth-child(2n+1) {
        margin-right: auto;
      }

      &:nth-child(2n) {
        margin-right: 40px;
      }
    }
  }
}

